[submodule "submodules/qemu"]
	path = submodules/qemu
	url = https://gitlab.com/qemu-project/qemu.git
	shallow = true
[submodule "submodules/looking_glass"]
	path = submodules/looking_glass
	url = https://github.com/gnif/LookingGlass.git
[submodule "submodules/virglrenderer"]
	path = submodules/virglrenderer
	url = https://gitlab.freedesktop.org/virgl/virglrenderer.git
	shallow = true
